<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scanner
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" href="/login/">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>
      Reagent ID: {{ scannedCodeText }}
    </ion-label>
  </ion-item>

  <ion-button expand="block" (click)=scan()>Scan Again</ion-button>
</ion-content>
