<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scanner
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)=logout()>
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <div [ngSwitch]="reagentType">
      <div *ngSwitchCase="''">
        <ion-item>No scanning result</ion-item>
      </div>
      <div *ngSwitchCase="'Primary'">
        <ion-item>
          Reagent Name: {{reagentInfo.reagentName}}
        </ion-item>
        <ion-item>
          Reagent ID: {{reagentInfo._id}}
        </ion-item>
        <ion-item>
          Lot Number: {{reagentInfo.lotNr}}
        </ion-item>
        <ion-item>
          Supplier: {{reagentInfo.supplier}}
        </ion-item>
        <ion-item>
          Expiry Date: {{reagentInfo.expiryDate}}
        </ion-item>
        <ion-item>
          Storage Location:{{reagentInfo.storageLocation}}
        </ion-item>
      </div>
      <div *ngSwitchCase="'Secondary'">
        <ion-item>
          Reagent Name: {{reagentInfo.reagentName}}
        </ion-item>
        <ion-item>
          Reagent ID: {{reagentInfo._id}}
        </ion-item>
        <ion-item>
          Lot Number: {{reagentInfo.lotNr}}
        </ion-item>
        <ion-item>
          Expiry Date: {{reagentInfo.expiryDate}}
        </ion-item>
        <ion-button (click)="dispose(reagentInfo._id, reagentType)"></ion-button>
      </div>
    </div>
  </ion-item>

  <ion-button expand="block" id="scan" (click)=scan()>Scan Again</ion-button>
</ion-content>
