#scan{
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
  // max-width: 500px;
}

#dispose{
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
  // max-width: 500px;
}