<ion-header>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="login">
    <h1><b>GOSH DRIVE</b></h1>
    <p>Laboratory Assay Reagent Audits<p>
    <ion-item>
      <ion-label position="floating">User ID</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item> 
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" href="/tabs/">Log in</ion-button>
  </div>
  
</ion-content>
