#save{
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
  // max-width: 500px;
}

.lotNumber{
  font-size: 0.75rem;
  color:grey;
}

.list-md {
  padding-top: 0px;
  padding-bottom: 0px;
}

.md ion-list-header {
  // --background: var(--ion-color-list-header-background);
  padding-top: 10px;
}