<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Run New Test
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)=logout()>
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Run New Test</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="testForm" (ngSubmit)="submitForm()">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-lg="6" size="12">
          <ion-item>
            <ion-label>Assay Name</ion-label>
            <ion-select placeholder="Select assay" formControlName="assayName" 
            class="ion-text-right" (ionChange)="testChange()">
              <div *ngFor="let i of testTypesJson">
                <ion-select-option [value]="i.assayName">{{ i.assayName }}</ion-select-option>
              </div>
            </ion-select>
            <ion-button fill="clear" slot="end" class="ion-align-self-center" 
            (click)=ifGetLastTest() 
            [disabled]="testForm.value.assayName == ''">
              <ion-icon name="cloud-download"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size-lg="6" size="12">
          <ion-item>
            <ion-label >Batch Number</ion-label>
            <ion-input class="ion-text-right" formControlName="batchNr" 
              type="text" placeholder="" 
            clear-input="false"></ion-input>
          </ion-item>
          <ion-item 
            class="error-message" 
            *ngIf="!testForm.controls.batchNr.valid  && (testForm.controls.batchNr.dirty || submitAttempt)"
            lines="none">
            <p>Please enter a valid value.</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <!-- {{ testForm.value.assayName == "PAA" }} -->
    <div *ngIf="testForm.value.assayName !== ''">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <!-- Reagents -->
          <ion-col size-lg="4" size="12">
            <ion-list-header lines="full">
              <ion-label color="primary">Reagents</ion-label>
            </ion-list-header>
            <div *ngFor="let c of testTypesJson">
              <div *ngIf="c.assayName == testForm.value.assayName">
                <div *ngFor="let d of c.metadata">
                  <div [ngSwitch]="d.key">
                    
                    <!-- reagents records -->
                    <div *ngSwitchCase="'reagents'">
                      <div *ngFor="let item of testForm.get(d.key)['controls']; let i = index;" 
                      [formArrayName]="d.key">
                        <div [formGroupName]="i" style="width:100%">
                          <div [ngSwitch]="d.children[i].type">
                            <ion-item>
                              <ion-label position="stacked">
                                <div style="display: inline-block">{{ d.children[i].label }}</div>
                                <div style="display: inline-block" class="lotNumber ion-text-right">
                                  &nbsp;&nbsp; (Lot number: {{ testForm.value.reagents[i].lotNr }})</div>
                              </ion-label>
                              <ion-input *ngSwitchCase="'reagent'" formControlName="reagent" 
                              type="text" clear-input="false"
                              (change)="getReagent(i)"
                              (ionChange)="clearLotNumberIfEmpty($event, i)"></ion-input>
                              <ion-button *ngSwitchCase="'reagent'"
                              fill="clear" slot="end" class="ion-align-self-center" 
                              (click)=scan(i)>
                                <ion-icon name="qr-code"></ion-icon>
                              </ion-button>
                            </ion-item>
                            <ion-item 
                              class="error-message" 
                              *ngIf="!testForm.get('reagents').controls[i].controls.reagent.valid  && (testForm.get('reagents').controls[i].controls.reagent.dirty || submitAttempt)"
                              lines="none">
                              <p>Please enter a valid value (24-digit hex number). </p>
                            </ion-item>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- other reagent data -->
                    <div *ngSwitchCase="'reagentData'">
                      <div *ngFor="let item of testForm.get(d.key)['controls']; let i = index;" 
                      [formArrayName]="d.key">
                        <div [formGroupName]="i">
                          <div [ngSwitch]="d.children[i].type">
                            <ion-item>
                              <ion-label position="stacked">{{ d.children[i].label }}</ion-label>
                              <ion-input *ngSwitchCase="'text'" formControlName="value" 
                              type="text" clear-input="false"></ion-input>
                              <ion-datetime *ngSwitchCase="'date'" formControlName="value"
                              (ionFocus)="setUpDatePicker(d.key,i)" [pickerOptions]="customPickerOptions"
                              displayFormat="YYYY-MM-DD"></ion-datetime>
                            </ion-item>
                            <ion-item 
                              class="error-message" 
                              *ngIf="!testForm.get('reagentData').controls[i].controls.value.valid  && (testForm.get('reagentData').controls[i].controls.value.dirty || submitAttempt)"
                              lines="none">
                              <p>Please enter a valid value (24-digit hex number). </p>
                            </ion-item>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </ion-col>

          <!-- Equipment -->
          <ion-col size-lg="4" size="12">
            <ion-list>
              <ion-list-header lines="full">
                <ion-label color="primary">Equipment</ion-label>
                <ion-button fill="clear" (click)="addEqpt()">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-list-header>
              <div
                formArrayName="equipment"
                *ngFor="let item of testForm.get('equipment')['controls']; let i = index;"
              >
                <div [formGroupName]="i">
                  <ion-item>
                    <ion-label position="stacked">Equipment #{{i+1}}</ion-label>
                    <ion-input formControlName="eqptNr" type="text" clear-input="false"></ion-input>
                    <ion-button slot="end" fill="clear" class="ion-align-self-center" (click)=removeEqpt(i)>
                      <ion-icon name="remove"></ion-icon>
                    </ion-button>
                  </ion-item>
                  <ion-item 
                    class="error-message" 
                    *ngIf="!testForm.get('equipment').controls[i].controls.eqptNr.valid  && (testForm.get('equipment').controls[i].controls.eqptNr.dirty || submitAttempt)"
                    lines="none">
                    <p>Please enter a valid value (24-digit hex number). </p>
                  </ion-item>
                </div>
                <!-- Exposed item name: {{testForm.controls.equipment.controls[i].value}} -->
              </div>
            </ion-list>
          </ion-col>

          <!-- Other -->
          <ion-col size-lg="4" size="12">
            <ion-list-header lines="full">
              <ion-label color="primary">Others</ion-label>
            </ion-list-header>
            <div *ngFor="let c of testTypesJson">
              <div *ngIf="c.assayName == testForm.value.assayName">
                <div *ngFor="let d of c.metadata">
                  <div [ngSwitch]="d.key">
                    <div *ngSwitchCase="'other'">
                      <div *ngFor="let item of testForm.get(d.key)['controls']; let i = index;" 
                      [formArrayName]="d.key">
                        <div [formGroupName]="i">
                          <div [ngSwitch]="d.children[i].type">
                            <ion-item>
                              <ion-label position="stacked">{{ d.children[i].label }}</ion-label>
                              <ion-input *ngSwitchCase="'text'" formControlName="value" 
                              type="text" clear-input="true"></ion-input>
                              <ion-datetime *ngSwitchCase="'date'" formControlName="value" 
                              displayFormat="YYYY-MM-DD"></ion-datetime>
                            </ion-item>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button type="submit" id="save" expand="block">Save</ion-button>
    </div>
  </form>

  <!-- result from scan: <br>{{ scannedCode | getReagentLotNumberjson }} <br><br> -->
  <!-- form value: <br>{{testForm.value | json}} <br><br> -->
  <!-- test types: <br>{{testTypesJson | json}} -->
 
</ion-content>

<!-- (ionChange)="getDate($event,d.key,i)" -->
<!-- [disabled]="!testForm.valid" -->