<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Run New Test
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" href="/login/">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Run New Test</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="testForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="stacked">Test Name</ion-label>
      <ion-select placeholder="Select test" formControlName="testName">
        <ion-select-option value="f">PAA</ion-select-option>
        <ion-select-option value="m">XXX</ion-select-option>
      </ion-select>
      <ion-button fill="clear" slot="end" class="ion-align-self-center">
        <ion-icon name="cloud-download"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Batch Number</ion-label>
      <ion-input formControlName="batchNumber" type="text" placeholder="" clear-input="true"></ion-input>
    </ion-item>
    
    <div *ngFor="let c of testFormJson">
      <!-- {{ c | json}} -->
      <div [ngSwitch]="c.key">
        <div *ngSwitchCase="'reagents'" [formGroupName]="c.key">
          <ion-list-header lines="full">
            <ion-label>Reagents</ion-label>
            <!-- <ion-button fill="clear">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button> -->
          </ion-list-header>
          <ion-item *ngFor="let child of c.children">
            <ion-label position="stacked">{{ child.label }}</ion-label>
            <ion-input [formControlName]="child.key"  clear-input="true"></ion-input>
            <ion-button fill="clear" slot="end" class="ion-align-self-center" 
              (click)=scan1(child.key)>
              <ion-icon name="qr-code"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
        
        <div *ngSwitchCase="'equipment'" [formGroupName]="c.key">
          <ion-list-header lines="full">
            <ion-label>Equipment</ion-label>
            <!-- <ion-button fill="clear">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button> -->
          </ion-list-header>
          <ion-item *ngFor="let child of c.children">
            <ion-label position="stacked">{{ child.label }}</ion-label>
            <ion-input [formControlName]="child.key" clear-input="true"></ion-input>
          </ion-item>
        </div>

        <div *ngSwitchCase="'others'" [formGroupName]="c.key">
          <ion-list-header lines="full">
            <ion-label>Others</ion-label>
            <!-- <ion-button fill="clear">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button> -->
          </ion-list-header>
          <ion-item *ngFor="let child of c.children">
            <ion-label position="stacked">{{ child.label }}</ion-label>
            <!-- <ion-input [formControlName]="child.key" ></ion-input> -->
            <div [ngSwitch]="child.type" style="width: 100%;">
              <ion-input *ngSwitchCase="'input'" [formControlName]="child.key" 
                clear-input="true"></ion-input>
              <ion-datetime *ngSwitchCase="'date'" [formControlName]="child.key" 
                displayFormat="YYYY-MM-DD"></ion-datetime>
            </div>
          </ion-item>
        </div>

      </div>
    
    </div>

    result from scan: {{ scanCode }}
    <!-- <ion-list>
      <ion-list-header lines="full">
        <ion-label>Reagents</ion-label>
        <ion-button fill="clear">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-list-header>
        <ion-item>
          <ion-label position="stacked">INT STD Lot</ion-label>
          <ion-input type="text" placeholder="Scan QR code"></ion-input>
          <ion-button fill="clear" slot="end" class="ion-align-self-center">
            <ion-icon name="qr-code"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">IQC Lot</ion-label>
          <ion-input type="text" placeholder="Scan QR code"></ion-input>
          <ion-button fill="clear" slot="end" class="ion-align-self-center">
            <ion-icon name="qr-code"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">ACN Lot</ion-label>
          <ion-input type="text" placeholder="Scan QR code"></ion-input>
          <ion-button fill="clear" slot="end" class="ion-align-self-center">
            <ion-icon name="qr-code"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">MEQH Lot</ion-label>
          <ion-input type="text" placeholder="Scan QR code"></ion-input>
          <ion-button fill="clear" slot="end" class="ion-align-self-center">
            <ion-icon name="qr-code"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">TEA Lot</ion-label>
          <ion-input type="text" placeholder="Scan QR code"></ion-input>
          <ion-button fill="clear" slot="end" class="ion-align-self-center">
            <ion-icon name="qr-code"></ion-icon>
          </ion-button>
        </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-list-header lines="full">
        <ion-label>Equipment</ion-label>
        <ion-button fill="clear" (click)="addEqpt()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-list-header>
      <div
        formArrayName="equipment"
        *ngFor="let item of testForm.get('equipment')['controls']; let i = index;"
      >
        <div [formGroupName]="i">
          <ion-item>
            <ion-label position="stacked">Pipette #{{i+1}}</ion-label>
            <ion-input formControlName="pipette" type="text" placeholder="Enter Pipette ID"></ion-input>
            <ion-button slot="end" fill="clear" class="ion-align-self-center" (click)=removeEqpt(i)>
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </div> -->
        <!-- Exposed item name: {{testForm.controls.equipment.controls[i].controls.pipette.value}} -->
        <!-- Exposed item name: {{testForm.controls.equipment.controls[i].value}} -->
      <!-- </div>
    </ion-list>

    <ion-list>
      <ion-list-header lines="full">
        <ion-label>Others</ion-label>
        <ion-button fill="clear">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">Mobile Phase A</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mobile Phase B</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date"></ion-datetime>
      </ion-item>  
      <ion-item>
        <ion-label position="stacked">Seal Wash Date</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date"></ion-datetime>
      </ion-item>  
      <ion-item>
        <ion-label position="stacked">Needle Wash Date</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date"></ion-datetime>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">100% MeOH Date</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date"></ion-datetime>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">Carousel Audit</ion-label>
        <ion-input type="text" placeholder="Enter Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sample preparation by</ion-label>
        <ion-input type="text" placeholder="Enter Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Run set up by</ion-label>
        <ion-input type="text" placeholder="Enter Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Maint. and log completed by</ion-label>
        <ion-input type="text" placeholder="Enter Input"></ion-input>
      </ion-item>
    </ion-list> -->
    
    <ion-button type="submit" id="save" expand="block" [disabled]="!testForm.valid">Save</ion-button>

  </form>

  
  form value: <br>{{testForm.value | json}}
  
  <!-- <form [formGroup]="testForm" (ngSubmit)="submitForm()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">DOB</ion-label>
      <ion-datetime (ionChange)="getDate($event)" formControlName="dob" [value]="defaultDate"></ion-datetime>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form> -->

  
</ion-content>
